/*this are styles applying to the whole webpages*/
body{
	background:url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
.row{
	margin-top: 10px;
}

/*this are styles applying to the title*/
#title-div {
	height: 100px;
	background: url("../images/animatedbackground.gif");
	color:#ffffff;
}

#title{
	padding-top: 20px;
	font-family: 'Great Vibes', cursive
}
/*this are styles for the computer choice column*/
#resultColor{
	color: #ffffff;
	text-align: center;
	font-size: 35px;
}
.centering {
	margin-left: 40px;
	align-content: center;
	
}
#buttonDiv button{
	background-color: #000000;
	align-content: center;
	font-size: 25px;
	font-weight: bold;
}
#rock{
	color: #3333ff;
}
#paper{
	color:#00e64d ;
}
#scissors{
	color:#00ccff;
}
.choices{
	padding: 10px;
	font-family: 'Orbitron', sans-serif;
	/*margin-left: 400px;
	margin-right: 400px;*/	
}

#buttonDiv{
	margin-top: 50px;
}

/*this section applies to the results of the game*/

button {
	color:white;
}
#resultsPanel{
	background-color: #000000;
	color: #ffffff;
	width: 100%;
	text-align: center;
	display: none;	
}
.choices{
	padding: 10px;
	/*margin-left: 400px;
	margin-right: 400px;*/	
}


/*this applies to the panel with game instructions*/
p{
	font-family: 'Cookie', cursive;
	font-size: 25px;
}
#instructionsPanel{
	margin-left: 2%px;
	margin-top: 10px;
}
#instructions{
	font-family: 'Great Vibes', cursive

}

.grand-footer {
	background-color: rgb(244, 66, 66);
}
#footer {
	height: 10vh;
	margin-left: 510px;
	margin-bottom: 15px;
}
#footer-icons {
	margin-top: 80px;
	display: flex;
	content: align-center;
	color:white;

}
#footer-icons i{
	padding: 40px 12px;
	color:white;
}
.copyright p {
	margin-left: 500px;
	color: white;
	font-size: 35px;
}


#youWin{}
#youLose{}
#youTie{}


/*this section checks applies the blinking button functionality*/

/*.flash-button{
	background:blue;
	padding:5px 10px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}*/